 .bookForm {
    text-align: center;
 }

 .form-group {
    padding-bottom: 20px
 }

 .btn-primary{
   background-color: #c2185b;
   border-color: #c2185b;
 }

 .btn-primary:hover{
   background-color: #bf1257b8;
 }